<!DOCTYPE html>
<html lang="en">
  
<head>
   <meta charset="UTF-8" />
   <title>About</title>
   <link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
   <link rel="stylesheet" href="css/site.css" type="text/css" />
</head>
<body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>myApp</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Jasdeep Sandhu - The Developer</h2>
					<p>Hello, thank you for visiting my site! I'm a student currently attending my second year at 
                        Seneca College. I'm hoping to get a stable job when I graduate. I'd like to work and live 
                        in an apartment in downtown toronto. I dream of also owning one or two Scottish Folds (cats)
                        to keep during that time. If not I may move to Calgary or Edmonton to buy a house in a much more
                        open area with forests and grassland. This is all for the purpose of allowing my four year old
                        german shepherd to live more openly and free till the day he passes. If those both fail I wish 
                        to move to Japan and work as a teacher or programmer. I think I have myself pretty covered haha.
                    </p>
					</article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>© 2017 - Jasdeep Sandhu</h2>
			</div>
		</div>
	</div>
   </footer>
</body>

</html>