<div class="row">
		<section class="main col-md-12">
			<article>
			<h2>Jasdeep Sandhu - The Developer</h2>
			<p>Hello, thank you for visiting my site! I'm a student currently attending my second year at 
				Seneca College. I'm hoping to get a stable job when I graduate. I'd like to work and live 
				in an apartment in downtown toronto. I dream of also owning one or two Scottish Folds (cats)
				to keep during that time. If not I may move to Calgary or Edmonton to buy a house in a much more
				open area with forests and grassland. This is all for the purpose of allowing my four year old
				german shepherd to live more openly and free till the day he passes. If those both fail I wish 
				to move to Japan and work as a teacher or programmer. I think I have myself pretty covered haha.
			</p>
			</article>
		</section>
</div>