<div class="row">
    <div class="col-md-12">
        <h1>{{data.0.departmentName}} - Department: {{data.0.departmentId}}</h1>
        <form method="post" action="/department/update">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="departmentName">Department Name</label>
                            <input class="form-control" id="departmentName" name="departmentName" type="text" value="{{data.0.departmentName}}" />
                        </div>
                    </div>
                </div>
                <input id="departmentId" name="departmentId" type="hidden" value="{{data.0.departmentId}}" />
            </fieldset>
        <hr />
        <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form>
    </div>
</div>